**/node_modules
**/.env
**/dist
**/.svelte-kit
./data
data/
.turbo
.next

# Output
.output
.vercel
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

.idea/



.nx/cache
.nx/workspace-data